.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Optional: Adds a semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;
}

.Dialog {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  padding: 16px;
  position: relative;
  width: 300px;
  z-index: 1200;
}
.Dialog > header {
  font-size: 1.3rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
.Dialog > main {
  flex: 1 1;
  max-height: 200px;
  min-height: 40px;
  overflow-y: scroll;
}
.Dialog > footer {
  padding-top: 1rem;
}